button.hidden{
    display: none;
}
aside{
    display:flex;
    justify-content: center;
    flex-direction: row;
    text-align: center;   
    flex-wrap: wrap; 
    
    border: 1px solid blue;
}

#body{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}
h3{
    text-align: center;
}
ul{
    list-style-type: none;
}

#itinDis{
    border: 1px solid red;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
#options{
    min-width: 40%;
    max-width: 40%;
    min-height: 300px;
    max-height: 300px;
}
#itinerary{
    min-width: 40%;
    max-width: 40%;
    min-height: 300px;
    max-height: 300px;
}
#details{
    min-width: 80%;
    max-width: 80%;
    min-height: 300px;
    max-height: 300px;
}